.player {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: min(1100px, 95%);
  align-items: center;
  gap: 2rem;
  padding: 2rem 0;
}

.player h1 {
  margin-bottom: 1rem;
  text-align: center;
}

.player-nickname-input {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.player-wishlists {
  display: grid;
  grid-template-columns: repeat(2, 450px);
  gap: 2rem;
  width: 100%;
  justify-content: center;
}

.player-wishlists > * {
  width: 450px;
  justify-self: center;
}

.player-loading,
.player-error {
  padding: 2rem;
  text-align: center;
  color: #666;
}

.player-error {
  color: var(--christmas-red);
}

@media (max-width: 960px) {
  .player {
    width: 90%;
  }

  .player-wishlists {
    grid-template-columns: 1fr;
  }
}
