@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1em 0.5em;
}

.input-group, .full-width {
    width: 100%;
}

.input-group label {
    font-weight: 500;
    font-family: 'Mountains of Christmas', sans-serif;
}

@keyframes rotate-gradient {
    to {
        --angle: 360deg;
    }
}

.input-group input {
    padding: 0.5rem;
    border: 2px solid transparent;
    border-radius: 2em;
    background: white;
    transition: transform 0.3s ease;
    --angle: 0deg;
    font-family: 'Mountains of Christmas', sans-serif;
}

.input-group input:focus {
    outline: none;
    border: 2px solid transparent;
    background: 
        linear-gradient(white, white) padding-box,
        linear-gradient(var(--angle), var(--christmas-red), var(--christmas-green), var(--christmas-red)) border-box;
    animation: rotate-gradient 4s linear infinite;
}