.phrase-input {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;
}

.phrase-input input {
    font-size: 1.2rem;
}

.phrase-input button {
    white-space: nowrap;
    height: fit-content;
    margin-bottom: 0.9em;
    font-size: 1.2rem;
}