.workshop {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 720px;
  align-items: center;
  gap: 2em;
}

.workshop h1 {
  margin-bottom: 1rem;
}

.workshop h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  width: 100%;
}

.workshop > .players-table {
  width: 100%;
}

.pairs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.pair {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pair span:nth-child(2) {
  color: #666;
}
